@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  /* perspective: 1000px; */
}

.container {
  max-width: 70rem;
  padding: 0 2rem;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

header:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0, 0.05);
  z-index: 25;
}

.hill1 {
  position: absolute;
  width: 1500px;
  z-index: 20;
  left: 0;
  bottom: 0;
}

.hill2 {
  position: absolute;
  width: 2000px;
  z-index: 19;
  bottom: -470px;
  right: 0;
}

.mountain1 {
  position: absolute;
  width: 800px;
  left: 0px;
  bottom: 150px;
  z-index: 18;
}

.mountain2 {
  position: absolute;
  width: 1000px;
  z-index: 17;
  right: 0;
  bottom: 150px;
}

.sky {
  position: absolute;
  width: 3000px;
  min-height: 50vh;
  bottom: -200px;
  right: 0;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0;
  z-index: 30;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0, 0.05), transparent);
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #fff;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}

.logo span {
  font-weight: 300;
}

.hamburger-menu {
  width: 1.55rem;
  height: 1.5rem;
  /* background-color: black; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}

.bar {
  position: relative;
  width: 1.2rem;
  height: 3px;
  background-color: #fff;
  border-radius: 2px;
}

.bar:before,
.bar:after {
  content: "";
  position: absolute;
  width: 1.55rem;
  height: 3px;
  right: 0;
  background-color: #fff;
  border-radius: 2px;
}

.bar:before {
  transform: translateY(-8px);
}
.bar:after {
  transform: translateY(8px);
}

.big-title {
  position: absolute;
  top: calc(50% - 2rem);
  width: 100%;
  text-align: center;
  font-size: 5rem;
  font-weight: 600;
  z-index: 30;
  line-height: 4rem;
  color: bisque;
}

.section {
  width: 100%;
  background-color: #151515;
  position: relative;
}

.section .container {
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.section img {
  width: 100%;
  box-shadow: 0px 2px 12px 5px rgba(255, 255, 255, 0.1);
}

.section .content > * {
  margin: 2rem;
}

/* section content */

.content {
  color: #fff;
  transform: translateY(-50px);
}

.imgContainer {
  transform: translateY(50px);
}

.title {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  position: relative;
}

.border {
  position: absolute;
  width: 0%;
  height: 3px;
  background-color: #fff;
  bottom: 0%;
  left: 0;
}

.shadow {
  position: absolute;
  bottom: 100%;
  height: 300px;
  width: 100%;
  left: 0;
  z-index: 20;
  background: linear-gradient(to top, #151515, transparent);
}

.opacity {
  opacity: 0;
}

/* section-two */
.section-two {
  width: 100%;
  /* background-image: linear-gradient(
      to bottom,
      #151515,
      #151515ed,
      #151515cf,
      rgba(21, 21, 21, 0.7)
    ),
    url("img/background-abstract.jpg"); */
  background: linear-gradient(
      180deg,
      #151515 0%,
      #151515f7 20%,
      #151515eb 40%,
      rgba(21, 21, 21, 0.1) 78%,
      rgba(255, 255, 255, 0) 99.89%
    ),
    url("img/background-abstract.jpg");
  position: relative;
  background-size: cover;
}

.content-two h3 {
  text-align: center;
  color: #fff;
}

.section-two .container-narrow {
  padding: 2rem 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-two {
  z-index: 30;
}

.border-two {
  background-color: #fff;
  left: 50%;
  width: 30%;
  transform: translate(-50%, 0);
}

.shadow-work {
  height: 10px;
  position: absolute;
  bottom: 100%;
  width: 100%;
  left: 0;
  z-index: 0;
  background: linear-gradient(to top, #151515, transparent);
}

#work-title {
  margin-top: 5rem;
}

.work-cards {
  display: flex;
  width: 80vw;
  justify-content: space-between;
}

.card-work {
  position: relative;
  width: 30%;
  margin-top: 1rem;
  height: 30rem;
  z-index: 5;
  background: linear-gradient(
    164.84deg,
    #ffffff 0%,
    rgba(255, 255, 255, 0.521) 0.01%,
    rgba(141, 141, 141, 0.1) 100%
  );
  box-shadow: 3px 6px 7px rgba(255, 255, 255, 0.26);
  /* backdrop-filter: blur(1rem); */

  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  padding: 1rem 1.5rem;
}

.card-work h3 {
  margin-top: 1rem;
  font-size: 1.4rem;
}

.card-work p {
  margin-top: -2.5rem;
  font-size: 0.8rem;
}

.card-work a {
  border-radius: 1rem;
  box-shadow: 1px 4px 15px 5px rgba(0, 0, 0, 0.17);
  padding: 0.4rem 1.5rem;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
  margin-top: -1rem;
}

.read-btn-card {
  margin-top: -1rem;
}
.work-cards {
  perspective: 1000px;
}
.container-narrow {
  /* perspective: 1000px; */
  /* transform-style: preserve-3d; */
  /* perspective: 1000px; */
}
.card-middle {
  transition: all 0.5s ease;
}

.card-left a {
  background: linear-gradient(
    92.9deg,
    rgba(178, 61, 197, 0.97) 8.74%,
    rgba(186, 163, 216, 0.84) 98.79%
  );
}

.card-middle a {
  background: linear-gradient(
    92.9deg,
    rgba(197, 61, 61, 0.97) 8.74%,
    rgba(216, 163, 210, 0.84) 98.79%
  );
}

.card-right a {
  background: linear-gradient(
    92.9deg,
    rgba(0, 128, 168, 0.97) 8.74%,
    rgba(201, 216, 255, 0.84) 98.79%
  );
}

.card-left h3 {
  color: #e9e3ff;
}

.card-middle h3 {
  color: #ffe3e8;
  transform-style: preserve-3d;
  z-index: 100;
  /* perspective: 1000px; */
}

.card-right h3 {
  color: #e3faff;
}

.card-left p {
  color: #fdf2ff;
}

.card-middle p {
  color: #fff2f5;
}

.card-right p {
  color: #f2f7ff;
}

.circle-card {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}

.circle-left {
  background: linear-gradient(140.66deg, #c4c4c4 40.03%, #dba0ff 85.97%);
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.2);
  position: relative;
}

.circle-middle {
  background: linear-gradient(140.66deg, #c4c4c4 40.03%, #ffa0a0 85.97%);
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
}

.circle-right {
  background: linear-gradient(140.66deg, #c4c4c4 40.03%, #a0bbff 85.97%);
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.2);
  position: relative;
}

.circle-left img {
  position: absolute;
  width: 10rem;
  top: -17px;
  left: -14px;
}

.circle-middle img {
  position: absolute;
  width: 10rem;
  top: -19px;
  left: -16px;
  z-index: 2;
  /* perspective: 500px; */
}

.circle-right img {
  position: absolute;
  width: 10rem;
  top: -21px;
  left: -16px;
}

/* media queries */
@media (max-width: 850px) {
  .section .container {
    grid-template-columns: 1fr;
  }

  .work-cards {
    flex-direction: column;
    align-items: center;
  }

  .card-work {
    width: 50%;
    margin-bottom: 2rem;
  }
}

@media (max-width: 600px) {
  .big-title {
    font-size: 3rem;
  }

  .text {
    font-size: 0.8rem;
  }

  .title {
    font-size: 1.2rem;
  }

  .section-two .container-narrow {
    padding: 2rem 0rem;
  }

  .work-cards {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .card-work {
    width: 100%;
  }

  .content-two {
    width: 90%;
  }
}
