@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 70rem;
  padding: 0 2rem;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

header:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0, 0.05);
  z-index: 25;
}

.hill1 {
  position: absolute;
  width: 1500px;
  z-index: 20;
  left: 0;
  bottom: 0;
}

.hill2 {
  position: absolute;
  width: 2000px;
  z-index: 19;
  bottom: -470px;
  right: 0;
}

.mountain1 {
  position: absolute;
  width: 800px;
  left: 0px;
  bottom: 150px;
  z-index: 18;
}

.mountain2 {
  position: absolute;
  width: 1000px;
  z-index: 17;
  right: 0;
  bottom: 150px;
}

.sky {
  position: absolute;
  width: 3000px;
  min-height: 50vh;
  bottom: -200px;
  right: 0;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0;
  z-index: 30;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0, 0.05), transparent);
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #fff;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}

.logo span {
  font-weight: 300;
}

.hamburger-menu {
  width: 1.55rem;
  height: 1.5rem;
  /* background-color: black; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}

.bar {
  position: relative;
  width: 1.2rem;
  height: 3px;
  background-color: #fff;
  border-radius: 2px;
}

.bar:before,
.bar:after {
  content: "";
  position: absolute;
  width: 1.55rem;
  height: 3px;
  right: 0;
  background-color: #fff;
  border-radius: 2px;
}

.bar:before {
  transform: translateY(-8px);
}
.bar:after {
  transform: translateY(8px);
}

.big-title {
  position: absolute;
  top: calc(50% - 2rem);
  width: 100%;
  text-align: center;
  font-size: 5rem;
  font-weight: 600;
  z-index: 30;
  line-height: 4rem;
  color: bisque;
}

.section {
  width: 100%;
  background-color: #151515;
  position: relative;
}

.section .container {
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.section img {
  width: 100%;
  box-shadow: 0px 2px 12px 5px rgba(255, 255, 255, 0.1);
}

.section .content > * {
  margin: 2rem;
}

/* section content */

.content {
  color: #fff;
  transform: translateY(-50px);
}

.imgContainer {
  transform: translateY(50px);
}

.title {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  position: relative;
}

.border {
  position: absolute;
  width: 0%;
  height: 3px;
  background-color: #fff;
  bottom: 0%;
  left: 0;
}

.shadow {
  position: absolute;
  bottom: 100%;
  height: 300px;
  width: 100%;
  left: 0;
  z-index: 20;
  background: linear-gradient(to top, #151515, transparent);
}

.opacity {
  opacity: 0;
}

/* section-two */
.section-two {
  width: 100%;
  background-color: #151515;
  position: relative;
}

.content-two h3 {
  text-align: center;
  color: #fff;
}

.section-two .container-narrow {
  padding: 2rem 9rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-two {
  z-index: 30;
}

.border-two {
  background-color: ##fff;
  left: 50%;
  width: 30%;
  transform: translate(-50%, 0);
}

.shadow-work {
  height: 10px;
  position: absolute;
  bottom: 100%;
  width: 100%;
  left: 0;
  z-index: 0;
  background: linear-gradient(to top, #151515, transparent);
}

#work-title {
  margin-top: 5rem;
}

.work-cards {
  display: flex;
  width: 40rem;
  justify-content: space-between;
}

/* media queries */
@media (max-width: 850px) {
  .section .container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  .big-title {
    font-size: 3rem;
  }

  .text {
    font-size: 0.8rem;
  }

  .title {
    font-size: 1.2rem;
  }

  .section-two .container-narrow {
    padding: 2rem 0rem;
  }

  .work-cards {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}
